@font-face {
  font-family: "Kanit Medium";
  src: url(../../fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
  font-family: "Kanit Regular";
  src: url(../../fonts/Kanit/Kanit-Regular.ttf);
}

#formularioContacto {
  font-family: "Kanit Regular";
  max-width: 36em;
  color: var(--morado-oscuro);
}

.h2-contacto {
  text-align: center;
}

.form-control-contacto {
  border-radius: 20px;
  font-family: "Kanit Light";
}

/* Al parecer las siguientes líneas se pueden borrar*/
/*
:root {
  --morado-oscuro: #3b1f53;
  --morado-clarito: #ede4ed;
}

body {
  background-color: var(--morado-clarito);
  font-family: "Kanit Regular";
  color: var(--morado-oscuro);
}
*/
