/* Agrega estas líneas al final de tu archivo de estilos o en un archivo separado */

.carrito-de-compras {
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

.carrito-de-compras h2 {
  color: var(--morado-oscuro);
  font-family: "Kanit Regular";
  margin-bottom: 1rem;
}

.carrito-de-compras div {
  color: var(--morado-oscuro);
  font-family: "Kanit Regular";
}

.carrito-de-compras p {
  margin: 0.5rem 0;
}

.carrito-de-compras p:first-child {
  margin-top: 0;
}

.carrito-de-compras p:last-child {
  font-family: "Kanit Regular";
}

.carrito-de-compras p:nth-last-child(2) {
  font-family: "Kanit Regular";
}
