@font-face {
  font-family: "Kanit Medium";
  src: url(../../fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
  font-family: "Kanit Regular";
  src: url(../../fonts/Kanit/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Kanit Light";
  src: url(../../fonts/Kanit/Kanit-Light.ttf);
}

:root {
  --morado-oscuro: #3b1f53;
  --morado-clarito: #ede4ed;
  --morado-medio: #b6a9c5;
  --morado-grisaseo: #847a9c;
  --blanco: #fefeff;
}

.custom-navbar {
  background-color: #3b1f53
}

.input-group {
  width: 500px; 
  height: 35px; 
}


.category-bar {
  background-color: var(--morado-medio);
}

.svg-cart-icon {
  fill: white; /* Cambia el color del icono SVG */
  width: 80px; /* Ajusta el tamaño según sea necesario */
  padding-right: 30px;
}
.pokemon-icon{
  width: 12rem;
  margin-left: 2rem;
}
.category-icon{
  width: 4rem;
  background-color: none;
  margin: .5rem;
}
.card-text{
  color: var(--morado-clarito);
  font-family: "Kanit Regular";
  padding-bottom: .8rem;
}
a{
  text-decoration: none;
}

#log-in {
  position: relative;
  top: 1.5rem;
  left: 1.2rem;
  font-family: "Kanit Medium";
  color: var(--morado-clarito);
}

.search-icon{
  width: 1.5rem;
  background-color: none;
  margin-top: -0.35rem;
  margin-left: 0.3rem;
}

.fa-search{
  height: 2.72rem;
}

#search-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  width: 450px;
}

#search-wrapper #search {
  background-color: #ede4ed;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 25px 25px 0;
  color: #444;
  padding: .6rem .5rem;
  font-family: "Kanit Light";
  font-size: 15px;
  font-weight: lighter;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  width: 100%;
}
#search-wrapper #search +i {
  background-color: #ede4ed;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  color: #777;
  padding: .67rem .65rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
#search-wrapper #search:focus {
  border-color: rgb(8, 124, 120);
  outline: none;
}
#search-wrapper #search:focus + i {
  border-color: rgb(8, 124, 120);
}












/*

#custom-search-input .search-query {
  border-radius: 0px 50px 50px 0px;
  font-family: "Kanit Light";
  margin-bottom: 0;
  background-color: #ede4ed ;
  box-shadow: #ede4ed;
    -webkit-box-shadow: #ede4ed;
    -moz-box-shadow: #ede4ed;
  
}

#custom-search-input button {
  left: -496px;
  border-radius: 50px 0px 0px 50px;
  background: #ede4ed;
  margin-bottom: 0;
  box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  color:#D9230F;
  
}
*/
