@font-face {
  font-family: "Kanit SemiBold";
  src: url(../../fonts/Kanit/Kanit-SemiBold.ttf);
}

@font-face {
  font-family: "Kanit Regular";
  src: url(../../fonts/Kanit/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Kanit Light";
  src: url(../../fonts/Kanit/Kanit-Light.ttf);
}

:root {
  --morado-oscuro: #3b1f53;
  --morado-clarito: #ede4ed;
  --morado-medio: #b6a9c5;
  --morado-grisaseo: #847a9c;
  --blanco: #fefeff;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: var(--morado-grisaseo);
  display: grid;
  /* grid-template-rows: 1fr auto;
  min-height: 100vh;  */
}

#pokemon-place-10-aniversario-footer {
  margin-top: -2.4rem;
  left: 0px;
}

.logotipos-de-redes-footer {
  width: 3.5rem;
}

#second-column-footer,
#h5-footer {
  color: var(--morado-clarito);
  font-family: "Kanit SemiBold";
  margin-top: 1rem;
}

.list-products-footer {
  font-size: 1.1rem;
  color: var(--morado-clarito);
  text-align: start;
  font-family: "Kanit Regular";
}

#fourth-column-footer {
  color: var(--morado-clarito);
  font-family: "Kanit Light";
  font-size: .8rem;
  text-align: center;
}

.logo-container-footer {
  margin: 1rem;
  padding: .5rem;
}