@font-face {
    font-family: "Kanit Medium";
    src: url(../../fonts/Kanit/Kanit-Medium.ttf);
  }
  
  @font-face {
    font-family: "Kanit Regular";
    src: url(../../fonts/Kanit/Kanit-Regular.ttf);
  }
  
  @font-face {
    font-family: "Kanit Light";
    src: url(../../fonts/Kanit/Kanit-Light.ttf);
  }
  
  :root {
    --morado-oscuro: #3b1f53;
    --morado-clarito: #ede4ed;
    --morado-grisaseo: #847a9c;
    --blanco: #fefeff;
  }
  
  
  .card-productos-contenido {
    background-color: var(--blanco);
    margin: auto 4rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }
  .card-productos-contenido::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 2rem;
  }
  
  #main-productos-contenido {
    margin-bottom: 6rem;
  }
  
  .h1-productos-contenido {
    color: var(--morado-oscuro);
    font-family: 'Kanit Medium';
  }
  
  .texto-de-tarjeta-productos-contenido {
    color: var(--morado-oscuro);
    font-family: 'Kanit Regular';
    margin: .5rem;
    height: 6rem;
  }
  
  #contenedor-rol-de-tarjeta-productos-contenido {
    font-family: 'Kanit Regular';
    height: 8rem;
  }
  
  .rol-de-tarjeta-productos-contenido {
    color: var(--morado-grisaseo);
    font-family: 'Kanit Light';
    position: absolute;
    
  }
  
  .col-productos-contenido{
    margin: 0 auto;
    padding-top: 3rem; 
    float: none;
  }

  
  


  .contenido-img{
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: bottom;
  }
  


  .contenedor
{
  margin: 1rem;
  padding-left: -10px;
}


/* En tu archivo CSS */

.full-screen-slider img {
  width: 100%;
  height: 100%; 
  object-fit: contain; 
}

.full-screen-slider .slide {
  width: 100%;
  height: auto; 
}

.slider-container {
  max-width: 30%; 
  margin: auto; 
}

.button-previous{
  border-radius: 10px 0px 0px 10px;
  border: #3b1f53 1.5px solid;
  padding: 5px 10px;
  font-family: "Kanit Light";
}

.button-next{
  border-radius: 0px 10px 10px 0px;
  border: #3b1f53 1.5px solid;
  font-family: "Kanit Light";
  padding: 5px 10px;
}

.button-previous:hover {
  background-color: #ede4ed;
}

.button-next:hover {
  background-color: #ede4ed;
}

