@font-face {
    font-family: "Kanit Medium";
    src: url(../../fonts/Kanit/Kanit-Medium.ttf);
  }
  
  @font-face {
    font-family: "Kanit Regular";
    src: url(../../fonts/Kanit/Kanit-Regular.ttf);
  }
  
  @font-face {
    font-family: "Kanit Light";
    src: url(../../fonts/Kanit/Kanit-Light.ttf);
  }
  
  :root {
    --morado-oscuro: #3b1f53;
    --morado-clarito: #ede4ed;
    --morado-grisaseo: #847a9c;
    --blanco: #fefeff;
  }
  
  
  .card-productos-contenido {
    background-color: var(--blanco);
    margin: auto 4rem;
    margin-bottom: 2rem;
  }
  
  #main-productos-contenido {
    margin-bottom: 6rem;
  }
  
  .h1-productos-contenido {
    color: var(--morado-oscuro);
    font-family: 'Kanit Medium';
  }
  
  .texto-de-tarjeta-productos-contenido {
    color: var(--morado-oscuro);
    font-family: 'Kanit Regular';
    margin: .5rem;
    height: 6rem;
  }
  
  #contenedor-rol-de-tarjeta-productos-contenido {
    font-family: 'Kanit Regular';
    height: 8rem;
  }
  
  .rol-de-tarjeta-productos-contenido {
    color: var(--morado-grisaseo);
    font-family: 'Kanit Light';
    position: absolute;
    
  }
  
  .col-productos-contenido{
    margin: 0 auto;
    padding-top: 3rem; 
    float: none;
  }

  
  


  .contenido-img{
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: bottom;
  }
  


  .contenedor
{
  margin: 1rem;
  padding-left: -10px;
}


/* En tu archivo CSS */
.full-screen-slider img {
  width: 100%;
  height: 100%; /* O '100%' según tus necesidades */
  object-fit: contain; /* Ajusta según prefieras 'cover' o 'contain' */
}

.full-screen-slider .slide {
  width: 100%;
  height: auto; /* Ajusta la altura según necesites */
}

.slider-container {
  max-width: 30%; /* Ajusta esto según tus necesidades */
  margin: auto; /* Centra el carrusel */
}